*{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 700px) {
    * {
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 400px) {
    * {
    text-align: center;
  }
}

.main-content {
     display: flex;
     justify-content: center;
     flex-direction: column;
     box-sizing: border-box; 
     background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
     font-family: sans-serif;
     color: white;
}

.returned-data{
    display: flex;
    flex-direction: row;
}

h1 {
    margin-top: 0%;
    margin-bottom: 5vh;
    margin-left: 5vh;
    padding-top: 3%;
}

h6 {
    margin-bottom: 5vh;
    margin-left: 3vw;
}

.location,
.temperature-section {
    height: 20vh;
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature-section {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 20%;
    font-size: 15%;
}

.degree-section h2 {
    font-size: 40px;
}
 /* Set the size of the div element that contains the map */
 #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    max-width: auto;
    position: relative;
    margin: 10px;
    border-radius: 5px;
   }

   #search-city {
       margin-top: 5vh;
       width: auto;
       height: auto;
       font-size: large;
       background-color: #FFDEAD;
   }
   #city-name {
       height: auto;
       font-size: large;
       margin-left: 2vw;
       margin-right: 2vw;
       background-color: #FFDEAD;
   }

    aside {
    width: 40%;
    padding-left: .5rem;
    padding-right: 2%;
    margin-left: .5rem;
    margin-right: 2%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-family: sans-serif;
    font-size: large;
    color: #f2f6f8;
}
aside > p, label {
    margin: .5rem;
}